{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('game_index') }}">Rental Game</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

        <div class="card" style="border-color: black; margin-top: 1rem;">
            <div class="card-body">
              <h2>Nama game</h2>
              <p class="card-title">{{ detail_game.nama }}</p>
              <h2>Deskripsi</h2>
              <p class="card-text">{{ detail_game.deskripsi }}</p>
              {% if current_user.is_admin %}
              <a href="/game/pengembalian/{{ detail_game.id }}" class="btn btn-success">Status Pengembalian</a>
              <a href="/game/update/{{ detail_game.id }}" class="btn btn-primary">Edit Game</a>
              <form method="POST" action="/game/delete/{{ detail_game.id }}" style="display: inline-block;">
                <button type="submit" class="btn btn-danger">Hapus Game</button>
              </form>
              <a href="/game" style="display: block;">Kembali ke halaman utama</a>
              {% else %}
                {% if detail_game.is_rental %}

                {% else %}
                <form method="GET" action="/game/rental/{{ detail_game.id }}">
                  <button type="submit" class="btn btn-warning">Rental Sekarang</button>
                </form>
                {% endif %}
              <a href="/game">Kembali ke halaman utama</a>
              {% endif %}
            </div>
          </div>

    </div>

{% endblock %}