{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Rental Game
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('game_index') }}">Rental Game</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
      <h2>Form Rental</h2>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

        <form method="POST" action="/game/pengembalian/{{ game.id }}">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.nama_peminjam) }}
            {{ wtf.form_field(form.nama_game) }}
            {{ wtf.form_field(form.tanggal_pinjam) }}
            {{ wtf.form_field(form.tanggal_kembali) }}
            <a href="/game/pengembalian/selesai/{{ game.id }}" class="btn btn-primary">Rental Selesai</a>
            <button type="submit" class="btn btn-danger">Ganti Tanggal Pinjam</button>
            <a href="/game/{{ game.id }}" class="btn btn-secondary">Kembali</a>
        </form>
    </div>
{% endblock %}